<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad > 18 ? "Es mayor de edad" : "Es menor de edad"}}</p>
<p>Empresa del empleado: {{empresa.value}}</p>
<p>Antiguedad del empleado: {{getAntiguedad()}}</p>

Introduce la empresa: 
<input 
    type="text" 
    placeholder="Nombre de la empresa" 
    #empresa 
    (keyup)="0"
    [disabled] = "propertyDisabled"
/>
<br/>
<br/>
<!-- <input type="button" value="Modificar" (click)="modificaEmpresa(empresa.value)"/> -->
<br/>
<br/>

{{textoDeRegistro}}
<br/>

<!-- Registrado: <input type="checkbox" id="registro" [checked]="userRegistrado" (click)="setUsuarioRegistrado()"/> -->

{{getRegistroUsuario()}}

<br/>
<br/>

Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="userRegistrado" (click)="setUsuarioRegistrado($event)"/>
<br/>
No registrado: <input type="radio" value="no" name="nRegistro" (click)="setUsuarioRegistrado($event)"/>